html {
    scroll-behavior: smooth;
}

.navlink:hover  .stripe {
    width: 100%;
}

.name {
    background-repeat: no-repeat;
    background-image: url(./assets/grad.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.04167;
    font-weight: 600;
    letter-spacing: -.015em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
